$color-primary: hsl(5 100% 78.2%);
$color-additional:  hsl(15 100% 64.3%);
$color-background: hsl(26 100% 94.1%);
$color-link: hsl(228 87% 51.8%);
$color-tag: hsl(0 0% 96.1%);
$color-text: hsl(35 20.9% 27.3%);
$color-heading: hsl(35 22.1% 15.1%);
$color-border: hsl(0 0% 84.3%);
$color-light: hsl(0 0% 100%);
$color-hovered: hsl(211 44.1% 81.8%);

$color-violet: hsl(261 45.4% 53.3%);
$color-yellow: hsl(42 96.1% 50%);
$color-red: hsl(0 85.6% 59%);
$color-blue: hsl(206 91.4% 63.5%);

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$modile-small-width: 320px;

