@use "../abstract/constants" as c;

@mixin font ($size, $line-height: $size, $weight: bold, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin columns ($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* {
    flex-basis: $width;
  }
}

@mixin media-laptop {
  @media (max-width: c.$content-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: c.$tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: c.$mobile-big-width) { @content; }
}

@mixin media-mobilesmall {
  @media (max-width: c.$modile-small-width) { @content; }
}