@use "../abstract/constants" as c;
@use "../abstract/placeholders";

.button {
  @extend %font-prim;
  padding: 11px 25px 13px;
  font-style: none;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 4px;
  cursor: pointer;
  @extend %transition;
  &_bordered {
    background: c.$color-light;
    border: 1px solid c.$color-border;
    color: c.$color-text;
    &:hover {
      background: c.$color-hovered;
      border-color: c.$color-hovered;
    }
  }
  &_colored {
    background: c.$color-primary;
    color: c.$color-light;
    border: 1px solid c.$color-primary;
    &:hover {
      background: c.$color-additional;
      border-color: c.$color-additional;
    }
  }
}

.link-button {
  @extend %font-add;
  color: c.$color-primary;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
